---
import type { MarkdownHeading } from "astro";
import type { KnownLanguageCode } from "../../i18n";
import { SITE } from "../../site";
import MoreMenu from "../RightSidebar/MoreMenu.astro";
import TableOfContents from "../RightSidebar/TableOfContents";

type Props = {
	title: string;
	headings: MarkdownHeading[];
	editUrl: URL;
	langCode: KnownLanguageCode;
};

const { editUrl, headings, langCode, title } = Astro.props;

const site = SITE[langCode];
---

<main class="content">
	<section class="main-section">
		<h1 class="content-title" id="overview">{title}</h1>
		<nav class="block sm-hidden">
			<TableOfContents
				client:media="(max-width: 50em)"
				headings={headings}
				onThisPage={site.general.OnThisPage}
			/>
		</nav>
		<slot />
	</section>
	<nav class="block sm-hidden">
		<MoreMenu editUrl={editUrl} langCode={langCode} />
	</nav>
</main>

<style>
	.content {
		display: flex;
		flex-direction: column;
		grid-area: main;
		min-height: 80vh;
		padding: var(--doc-padding) var(--gutter);
		width: 100%;
	}

	.content > section {
		margin-bottom: 4rem;
	}

	.block {
		display: block;
	}

	@media (min-width: 1080px) {
		.sm-hidden {
			display: none;
		}
	}
</style>
